
[Desktop Entry]
Name=Cuboctahedron Eversion
Exec=/usr/libexec/xscreensaver/cubocteversion --root
TryExec=/usr/libexec/xscreensaver/cubocteversion
Comment=Turns a cuboctahedron inside out: a smooth deformation (homotopy). During the eversion, the deformed cuboctahedron is allowed to intersect itself transversally, however, no fold edges or non-injective neighborhoods of vertices occur. Inspired by the following papers: Richard Denner: "Versions polyédriques du retournement de la sphère", L'Ouvert 94:32–45, March 1999. Richard Denner: "Versions polyédriques du retournement de la sphère, retournement du cuboctaèdre", L'Ouvert 95:15–36, June 1999. François Apéry: "Le retournement du cuboctaèdre", Prépublication de l'institut de recherche mathématique avancée, Université Louis Pasteur et C.N.R.S., Strasbourg, 1994. Written by Carsten Steger.
