
[Desktop Entry]
Name=Surfaces
Exec=/usr/libexec/xscreensaver/surfaces --root
TryExec=/usr/libexec/xscreensaver/surfaces
Comment=Parametric surfaces. https://en.wikipedia.org/wiki/Dini%27s_surface https://en.wikipedia.org/wiki/Enneper_surface https://en.wikipedia.org/wiki/Moebius_strip https://en.wikipedia.org/wiki/Seashell_surface https://en.wikipedia.org/wiki/Whitney_umbrella https://en.wikipedia.org/wiki/Pl%C3%BCcker%27s_conoid https://en.wikipedia.org/wiki/Henneberg_surface https://en.wikipedia.org/wiki/Catalan%27s_minimal_surface https://en.wikipedia.org/wiki/Helicoid https://mathworld.wolfram.com/KuenSurface.html https://mathworld.wolfram.com/SwallowtailCatastrophe.html https://mathworld.wolfram.com/BohemianDome.html Written by Andrey Mirtchovski and Carsten Steger.
