[Desktop Entry]
Type=Application
Name=Solar Winds
Comment=Wayland Desktop Toy
Exec=$HOME/wayland_solarwinds/solarwinds
Icon=solarwinds
Terminal=false
Categories=Amusement;DesktopToy;
