[Desktop Entry]
Type=Application
Name=Substrate
GenericName=Substrate Screensaver
Comment=Generative city-like growth screensaver (Wayland port)
Exec=/usr/local/bin/substrate
Icon=substrate
Terminal=false
Categories=DesktopToy;
Keywords=screensaver;opengl;wayland;2d;generative;
